*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.clock{
    background-color: #f8f683;
    padding: 30px;
    border-radius: 10px;
   gap:40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 50%;
}
h1{
    margin-top: 30px;;
    color: #202020;
    font-size: 4rem;
    margin-bottom: 20px;
    background-color: #ffffffee;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: #034747 2px solid;
}
@media (max-width: 600px) {
    .clock {
        width: 80%;
        height: auto;
        padding: 20px;
    }
    h1 {
        font-size: 2.5rem;
    }
}

.buttons{
    display: flex;
    gap: 20px;
}
button{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #058b8b;
    color: #fff;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #245c5c;
}